.addExpense-container {
    @media screen and (min-width: 1024px) {
            animation: moveInRight .5s ease-out backwards;
        }
    &__options {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__form {
        
    }

    &__fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    &__legend {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: $primary-1;
    }

    &__actions {
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
    }

    &__form-half {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        
        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }

    &__form-one {
        @media screen and (min-width: 1024px) {
            width: 40%;
            
        }
    }

    &__form-two {
        @media screen and (min-width: 1024px) {
            width: 40%;
        }
    }

    &__form-three {
        textarea {
            width: 100%;
            max-width: 100%;
            color: $black-1;
            font-weight: 400;
            box-shadow: 0 2px 2px -1px rgba($black-1, 0.2);
            background-color: $white-1;
            border: none;
            border-radius: 3px;
            padding: 1rem;
            font-size: 1.4rem;
        }
    }
}


//3rd party component

.addExpense-datepicker {
    
    margin: 1.5rem 0;

}

.react-datepicker-wrapper {
    width: 100%;
    border: none;
   
}

.react-datepicker__input-container {
    width: 100%;
    border: none;
    

    input {
        width: 100%;
        padding: 1rem;
        border: none;
        box-shadow: 0 2px 2px -1px rgba($black-1, 0.1);
    }
}

//override the blackbox styling
.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}