.expense-container {
    &__options {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        animation: moveInLeft .5s ease-out backwards;
    }

    &__content {
        margin: 2rem 0;
    }

    &__list-header {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        font-weight: 700;
        color: $primary-1;
        padding: 1rem;
        animation: moveInLeft .5s ease-out backwards;
        
        p {
            width: 25%;
        }
    }

    &__list {
        list-style-type: none;
    }
}