.overview-container {
    width: 100%;
    min-width: 30rem;
    background: $white-1;
    border-radius: 3px;
    box-shadow: 3px 5px 8px -1px rgba($black-1, 0.15);
    padding: 2rem;
    animation: moveInLeft .3s ease-out backwards;

    @media screen and (min-width: 1024px) {
        animation: moveInLeft .4s ease-out backwards;
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__list {
        list-style-type: none;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__list-item {
        font-weight: 600;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        animation: moveInTop .5s ease-out backwards;

        &:first-of-type {
            font-size: 1.5rem;
            color: $primary-1;
        }
    }

}
