.vertical-bar {
    width: 2px;
    background-color: rgba($white-1, .3);
}

.horizontal-bar {
    width: 100%;
    height: 2px;
    background-color: rgba($white-1, .3);
}

.bar-animate-down {
    animation: moveInTop .7s ease-out backwards;
}